html {
    background-color: rgb(226, 229, 235);
}

.card {
    border: 2px solid rgba(161, 174, 202, 0.904);
    border-radius: 15px;
    height:min-content;
    width: 30vw;
    padding: 14;
    display: block;
    margin: auto;
    background-color: #ffffff;
}

.rad {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 15;
}

:hover.list{
    background-color: rgba(121, 120, 120, 0.459);
}
.list {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.596);
    border: 1px solid grey;
    border-radius: 15px;
    color: rgb(73, 72, 72);
    display: inline-flex;
    margin-right: 20;
    padding: 5;
    font-size: 18;
}

div h2 {
    margin: 15;
}

div p {
    margin: 20px;;
    font-size: 18;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:hover.read{
    background-color:rgb(170, 170, 235);
   
}
.read{
    cursor:pointer;
    padding: 10;
    border-radius: 20px;
    background-color:rgb(112, 112, 187);
    color: blue;
    border: 2px solid rgb(170, 170, 235);
    display:block;
    margin: auto;
    width: fit-content;
    
}